@page "/"

<PageTitle>Empregos Campinas - Vagas</PageTitle>

<div class="container mt-4">
	<h1 class="mb-3">Últimas vagas</h1>
	@* <div class="d-flex flex-column align-items-center"> *@
	@foreach (var job in Jobs)
	{
		<div class="col">
			<div class="card mb-4 job-card">
				<Tooltip Title="Clique para ver mais">
					<a href="/vagas/@job.Id" class="job-card-link">
						<div class="card-header">
							<div class="row">
								<div><b>Título da vaga: </b>@job.Title</div>
								<div><b>Data: </b>@job.CreatedOn @job.Time</div>
								<div><b>Local: </b>@job.Location</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<p><b>Descrição: </b>@job.Description</p>
							</div>
						</div>
					</a>
				</Tooltip>
			</div>
		</div>
	}
	@* </div> *@
</div>


@code {
	private bool shouldRender;
	private IEnumerable<JobResponse> Jobs = Enumerable.Empty<JobResponse>();

	protected override bool ShouldRender() => shouldRender;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			PreloadService.Show(SpinnerColor.Primary);
			Jobs = await JobService.GetJobs();
		}
		catch { }
		finally
		{
			shouldRender = true;
			PreloadService.Hide();
		}
	}
}
